{% extends "base.html"%}
{%load static%}
{% block content %}
    <div class='container'>
        <div class='row'>
            <div class='col-12'> 
                {% for movie in movies %}
                    <div class="card mt-3">
                        <div class="card-body">
                        <h5 class="card-title">{{ movie.title }}</h5>
                        <p class="card-text">{{movie.short_description }}</p>
                        <a href="{% url 'movie_detail' movie.id %}" class="btn btn-primary">가자!</a>
                        </div> 
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}